<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
</head>
<body>
    <div class="container">
    <div class="jumbotron text-center">
        <div>
            <h1>
                Login
            </h1>
            <p>
                Login with
            </p>
            <a href="/auth/facebook" class="btn btn-primary">
                <span class="btn btn-primary"></span> Facebook
            </a>

            <a href="/auth/github" class="btn btn-primary">
                <span class="btn btn-primary"></span> Github
            </a>

            <a href="/auth/google" class="btn btn-primary">
                <span class="btn btn-primary"></span> Google
            </a>
        </div>
    </div>
    </div>
</body>
</html>